<div class="p-grid">

  <div class="p-col-12 p-md-4 board-container">
    <h4>A Faire</h4>
    <div class="board todo-board">
      <app-task-column [tasks]="todoTasks" [title]="'todo'" (dragStart)="onDragStart($event)" (dragEnd)="onDragEnd()" (drop)="onDrop($event)"></app-task-column>
    </div>

  </div>

  <div class="p-col-12 p-md-4 board-container">
    <h4>En Cours</h4>
    <div class="board doing-board">
      <app-task-column [tasks]="doingTasks" [title]="'doing'" (dragStart)="onDragStart($event)" (dragEnd)="onDragEnd()" (drop)="onDrop($event)"></app-task-column>
    </div>
  </div>

  <div class="p-col-12 p-md-4 board-container">
    <h4>Terminé</h4>
    <div class="board done-board">
      <app-task-column [tasks]="doneTasks" [title]="'done'" (dragStart)="onDragStart($event)" (dragEnd)="onDragEnd()" (drop)="onDrop($event)"></app-task-column>
    </div>
  </div>

</div>
