.board {
  padding: 1rem;
  min-height: 6rem;
  width: 100%;
  border-radius: 0.4rem;
}


.todo-board {
  background-color: #e76f51;
}

.doing-board {
  background-color: #e9c46a;
}

.done-board {
  background-color: #2a9d8f;
}


