<p-card >

  <div class="p-card-title">
    {{ task.name }}
    <p-toggleButton [(ngModel)]="this.collapsed" onLabel="" offLabel="" onIcon="pi pi-minus"
                    offIcon="pi pi-plus"  (onChange)="handleChange($event)"></p-toggleButton>
  </div>

  <div class="card__content">

    <div #card__body class="card__body">
      <p>{{ task.description }}</p>
    </div>

  </div>

  <div class="p-card-footer">
    <p>Type : {{ task.type }}</p>
    <button pButton type="button" icon="pi pi-pencil" label="Editer"></button>
  </div>
</p-card>
