<p-card header="{{ task.name }}">

  <div class="card__content">

    <div class="card__header">
      <p-toggleButton [(ngModel)]="this.collapsed" onLabel="" offLabel="" onIcon="pi pi-minus"
                      offIcon="pi pi-plus" class="collapse__button" (onChange)="handleChange($event)"></p-toggleButton>
    </div>

    <div #card__body class="card__body">
      <p>{{ task.description }}</p>
    </div>

  </div>

  <ng-template pTemplate="footer">
    {{ task.type }}
    <button pButton type="button" icon="pi pi-pencil" label="Editer"></button>
  </ng-template>
</p-card>
