p {
  margin: 10px;
}

.p-card-title, .p-card-footer{
  display: flex;
  justify-content: space-between;
}

.p-button {
  padding: 0 0.5rem ;
}

.card__body {
  width: 90%;
  text-align: justify;
  padding: 0;
  display: none;
  overflow: hidden;
}
